/*
@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #444444 url(/img/bg1.png) left top fixed; }

.ct-posts {
  *zoom: 1;
  max-width: em(1440);
  margin-left: auto;
  margin-right: auto; }
  .ct-posts:before, .ct-posts:after {
    content: " ";
    display: table; }
  .ct-posts:after {
    clear: both; }

.ct-site-header {
  *zoom: 1;
  max-width: em(1440);
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 0px) {
    .ct-site-header {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .ct-site-header {
      width: 768px; } }
  @media screen and (min-width: 1024px) {
    .ct-site-header {
      width: 1024px; } }
  @media screen and (min-width: 1200px) {
    .ct-site-header {
      width: 1200px; } }
  .ct-site-header:before, .ct-site-header:after {
    content: " ";
    display: table; }
  .ct-site-header:after {
    clear: both; }

.ct-site-content {
  *zoom: 1;
  max-width: em(1440);
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 0px) {
    .ct-site-content {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .ct-site-content {
      width: 768px; } }
  @media screen and (min-width: 1024px) {
    .ct-site-content {
      width: 1024px; } }
  @media screen and (min-width: 1200px) {
    .ct-site-content {
      width: 1200px; } }
  .ct-site-content:before, .ct-site-content:after {
    content: " ";
    display: table; }
  .ct-site-content:after {
    clear: both; }
  .ct-site-content .ct-content-left {
    float: left;
    display: block;
    margin-right: 0%;
    width: 75%;
    padding-right: 15px; }
    .ct-site-content .ct-content-left:last-child {
      margin-right: 0; }
  .ct-site-content .ct-content-right {
    float: left;
    display: block;
    margin-right: 0%;
    width: 25%; }
    .ct-site-content .ct-content-right:last-child {
      margin-right: 0; }
  .ct-site-content .ct-content-full {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%; }
    .ct-site-content .ct-content-full:last-child {
      margin-right: 0; }

.ct-site-footer {
  *zoom: 1;
  max-width: em(1440);
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 0px) {
    .ct-site-footer {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .ct-site-footer {
      width: 768px; } }
  @media screen and (min-width: 1024px) {
    .ct-site-footer {
      width: 1024px; } }
  @media screen and (min-width: 1200px) {
    .ct-site-footer {
      width: 1200px; } }
  .ct-site-footer:before, .ct-site-footer:after {
    content: " ";
    display: table; }
  .ct-site-footer:after {
    clear: both; }

.ct-posts {
  *zoom: 1;
  max-width: em(1440);
  margin-left: auto;
  margin-right: auto; }
  .ct-posts:before, .ct-posts:after {
    content: " ";
    display: table; }
  .ct-posts:after {
    clear: both; }
  .ct-posts .ct-post {
    float: left;
    display: block;
    margin-right: 0%;
    width: 33.33333%;
    margin-bottom: 15px;
    padding-right: 15px;
    display: block;
    border: 0px; }
    .ct-posts .ct-post .inner {
      text-decoration: none !important; }
    .ct-posts .ct-post:last-child {
      margin-right: 0; }
    .ct-posts .ct-post img {
      min-width: 100%;
      height: 250px; }
    .ct-posts .ct-post.ct-post-large {
      float: left;
      display: block;
      margin-right: 0%;
      width: 66.66667%; }
      .ct-posts .ct-post.ct-post-large:last-child {
        margin-right: 0; }
    .ct-posts .ct-post.ct-post-full {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      .ct-posts .ct-post.ct-post-full:last-child {
        margin-right: 0; }
    .ct-posts .ct-post .img-holder {
      display: block;
      overflow: hidden;
      width: 100%;
      height: 250px; }
      .ct-posts .ct-post .img-holder img {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        border: 0px;
        color: auto;
        content: ''; }
    .ct-posts .ct-post .title {
      background-color: #222;
      padding: 15px; }
      .ct-posts .ct-post .title h2 {
        font-family: "Roboto";
        font-weight: 300;
        color: #d9d9d9;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
        min-height: 80px; }
      .ct-posts .ct-post .title h3 {
        font-family: "Roboto";
        font-weight: 300;
        color: #666;
        font-size: 14px;
        text-align: right; }
    .ct-posts .ct-post.ct-post-full .img-holder {
      height: 300px; }
    .ct-posts .ct-post.ct-post-full .title h2 {
      min-height: 30px; }

.ct-site-photo {
  margin-bottom: 15px; }

.social-icons {
  *zoom: 1;
  max-width: em(1440);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }
  .social-icons:before, .social-icons:after {
    content: " ";
    display: table; }
  .social-icons:after {
    clear: both; }

.social {
  background-color: #444;
  margin-bottom: 5px;
  margin-right: 5px;
  text-decoration: none;
  border: 0px;
  width: 58px;
  height: 58px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left; }
  .social:hover {
    background-color: #5fb75d; }
  .social.social-github {
    background-image: url("/img/github-128.png"); }
  .social.social-linkedin {
    background-image: url("/img/li-128.png"); }
  .social.social-facebook {
    background-image: url("/img/fb-128.png"); }
  .social.social-youtube {
    background-image: url("/img/yt-128.png"); }
  .social.social-twitter {
    background-image: url("/img/twitter-128.png"); }
  .social.social-skype {
    background-image: url("/img/skype-128.png"); }
  .social.social-soundcloud {
    background-image: url("/img/soundcloud-128.png"); }
  .social.social-mixcloud {
    background-image: url("/img/mixcloud-128.png"); }
  .social img.icon {
    width: 50px;
    background-color: #444;
    margin-bottom: 3px; }

.ct-content-right h2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 30px;
  color: #d9d9d9;
  margin-bottom: 5px; }
.ct-content-right h3 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  color: #bdbdbd;
  margin-bottom: 15px; }

.ct-about-me p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 20px;
  color: #bdbdbd;
  margin-bottom: 15px; }
.ct-about-me a {
  text-decoration: none;
  color: #5fb75d; }

.ct-post {
  padding-right: 30px !important; }

.ct-post-content {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px; }
  .ct-post-content iframe, .ct-post-content video {
    width: 100%;
    height: 500px; }
  .ct-post-content img {
    max-width: 100%; }
  .ct-post-content a {
    text-decoration: none;
    color: red; }
  .ct-post-content p, .ct-post-content li {
    font-family: "Gotham Narrow SSm A";
    font-weight: 300;
    color: #666;
    font-style: normal;
    font-size: 15px;
    line-height: 24px; }
  .ct-post-content p {
    margin-bottom: 15px; }
  .ct-post-content h1 {
    font-family: "Lato";
    font-size: 26px;
    font-weight: 300;
    color: #525252;
    margin-bottom: 15px; }
  .ct-post-content h2 {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    color: #525252;
    margin-bottom: 15px; }
  .ct-post-content h3 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    color: #525252;
    margin-bottom: 15px;
    padding-top: 15px; }
  .ct-post-content h4 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    margin-bottom: 15px; }
  .ct-post-content ul {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 15px; }

.ct-site-header {
  margin-bottom: 15px;
  margin-top: 15px; }
  .ct-site-header .site-title {
    background-color: #5fb75d;
    line-height: 25px;
    font-size: 24px;
    color: white;
    font-weight: 300;
    padding: 10px;
    font-family: "Roboto";
    text-decoration: none;
    display: inline-block; }

.ct-post-header {
  *zoom: 1;
  max-width: em(1440);
  margin-left: auto;
  margin-right: auto; }
  .ct-post-header:before, .ct-post-header:after {
    content: " ";
    display: table; }
  .ct-post-header:after {
    clear: both; }
  .ct-post-header.ct-post-header-full {
    display: block;
    width: 100%;
    background-color: #5fb75d; }
    .ct-post-header.ct-post-header-full .img-holder {
      display: block;
      overflow: hidden;
      width: 100%;
      max-height: 400px; }
      .ct-post-header.ct-post-header-full .img-holder img {
        display: block;
        width: 100%;
        border: 0px;
        color: auto; }
    .ct-post-header.ct-post-header-full .page-title {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%;
      font-family: "Lato";
      font-size: 26px;
      line-height: 32px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 15px; }
      .ct-post-header.ct-post-header-full .page-title:last-child {
        margin-right: 0; }
  .ct-post-header.ct-post-header-large {
    display: block;
    width: 100%;
    background-color: #5fb75d; }
    .ct-post-header.ct-post-header-large .img-holder {
      float: left;
      display: block;
      margin-right: 0%;
      width: 29.16667%;
      display: block;
      background-color: #429d44;
      text-align: center;
      overflow: hidden; }
      .ct-post-header.ct-post-header-large .img-holder:last-child {
        margin-right: 0; }
      .ct-post-header.ct-post-header-large .img-holder img {
        display: block;
        border: 0px;
        color: auto;
        max-height: 200px;
        margin: auto; }
    .ct-post-header.ct-post-header-large .page-title {
      float: left;
      display: block;
      margin-right: 0%;
      width: 70.83333%;
      font-family: "Lato";
      font-size: 26px;
      line-height: 32px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 15px; }
      .ct-post-header.ct-post-header-large .page-title:last-child {
        margin-right: 0; }
  .ct-post-header.ct-post-header-small {
    display: block;
    width: 100%;
    background-color: #5fb75d; }
    .ct-post-header.ct-post-header-small .img-holder {
      float: left;
      display: block;
      margin-right: 0%;
      width: 29.16667%;
      display: block;
      overflow: hidden;
      height: 200px; }
      .ct-post-header.ct-post-header-small .img-holder:last-child {
        margin-right: 0; }
      .ct-post-header.ct-post-header-small .img-holder img {
        display: block;
        max-height: 300px;
        width: 100%;
        border: 0px;
        color: auto; }
    .ct-post-header.ct-post-header-small .page-title {
      float: left;
      display: block;
      margin-right: 0%;
      width: 70.83333%;
      font-family: "Lato";
      font-size: 32px;
      font-weight: 300;
      line-height: 38px;
      color: #fff;
      margin-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px; }
      .ct-post-header.ct-post-header-small .page-title:last-child {
        margin-right: 0; }

pre code {
  font-size: 11px;
  line-height: 16px;
  font-family: Consolas,"Liberation Mono",Courier,monospace !important;
  width: 100%;
  display: block;
  padding: 5px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: #f8f8ff;
  border: 1px solid #ddd;
  color: #555;
  border-left: 10px solid #ececec;
  margin-bottom: 15px;
  overflow: hidden; }

hr {
  border: 0px;
  border-bottom: 1px solid #ececec; }

a {
  color: #5fb75d; }

/* Better styles for embedding GitHub Gists */
.gist {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 20px;
  width: 100%; }

.gist pre {
  font-family: Consolas,"Liberation Mono",Courier,monospace !important; }

.gist-meta {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px !important; }

.gist-meta a {
  color: #26a !important;
  text-decoration: none; }

.gist-meta a:hover {
  color: #0e4071 !important; }

b {
  font-weight: bold; }

iframe {
  margin-bottom: 15px; }
