---
layout: layout
title: Cal Leeming Blog
position: 1
---

<div class="ct-content-left">
    <div class="ct-posts">
{% for weight in (1..99) reversed %}{% for post in site.posts %}{% if post.weight == weight %}
  <div class="ct-post ct-post-{{ post.type }}" href="{{ post.url }}">
    <a class="img-holder" href="{{ post.url }}">
      <img style="background-image:url('{{ post.coverimage }}');" />
    </a>

    <div class="title">
      <h2>{{ post.title }} {{post.position}}</h2>
      <h3>{{ post.date | date_to_string }}</h3>
    </div>
  </div>
{% endif %}{% endfor %}{% endfor %}
    </div>
</div>

<div class="ct-content-right">
  {% include right.html %}
</div>
