{% extends "layout.html" %}

{% block title %}
QUIET FAN HACK – 3COM 2824 GIGABIT SWITCH
{% endblock %}

{% block coverimage %}
quiet-fan-replacement.jpg
{% endblock %}

{% block content %}
After picking up a used 2824 switch on eBay for only £25, we soon realised the noise was too much for our small office. These switches are "enterprise grade", they have a 24gbit/sec switching fabric (that's full line speed on all ports), and a quiet/desktop version of this sort of product would have easily cost £100+. So, we bought a Rasurbo 40mm x 10mm Quiet Cooling fan replacement for £6 - and got ourselves a bargin at around £40 in total (switch+fan+delivery).


Initially I bought the wrong type of fan (you MUST make sure it is a three-wire, as these fans require speed control to work), and this wasted about £10 on wrong components. Check it :) Also posted on http://imgur.com/a/boCRB

And yes, this will void your warranty ;)

![][1] ![][2] ![][3] ![][4] ![][5] ![][6] ![][7] ![][8] ![][9] ![][10]

 [1]: http://i.imgur.com/0WClHh.jpg
 [2]: http://i.imgur.com/AVOH6h.jpg
 [3]: http://i.imgur.com/7AVknh.jpg
 [4]: http://i.imgur.com/8RkIIh.jpg
 [5]: http://i.imgur.com/XlvyIh.jpg
 [6]: http://i.imgur.com/1o82mh.jpg
 [7]: http://i.imgur.com/dVLeZh.jpg
 [8]: http://i.imgur.com/Am7QOh.jpg
 [9]: http://i.imgur.com/pZJoTh.jpg
 [10]: http://i.imgur.com/FZ1MOh.jpg
 
{% endblock %}

