<div class="ct-site-photo">
  <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/10914923_10155190969205381_7791079000673459774_o.jpg" style="width:100%;" />
</div>

<h1>
  Cal Leeming (Cally)
</h1>

<h2>
  Programmer / Engineer
</h2>

<h3 style="font-size:0.11111px;">
  Cally Leeming
</h3>


<div class="social-icons">
  <a href="http://github.com/foxx" target="_blank" 
    class="social social-github">
  </a>

  <a href="http://uk.linkedin.com/pub/cal-leeming/5/391/380/" target="_blank" 
    class="social social-linkedin">
  </a>

  <a href="http://www.facebook.com/sleepycal" target="_blank" 
    class="social social-facebook">
  </a>

  <a href="http://www.youtube.com/user/foxiewhisper" target="_blank" 
    class="social social-youtube">
  </a>

  <a href="http://www.twitter.com/sleepycal" target="_blank" 
    class="social social-twitter">
  </a>

  <a href="skype:state2state_" target="_blank" 
    class="social social-skype">
  </a>

  <a href="https://soundcloud.com/sleepycal" target="_blank" 
    class="social social-soundcloud">
  </a>

  <a href="http://www.mixcloud.com/sleepycal/" target="_blank" 
    class="social social-mixcloud">
  </a>

  <a href="http://stackoverflow.com/users/1267398/sleepycal" target="_blank" 
    class="social social-stackoverflow">
  </a>

  
</div>

<div class="ct-about-me">

  <p>
      Pythonic data freak with a startup mentality to move fast and do things (+total geek)
  </p>

  <p>
      I like to make things and break things, without losing my commit privileges.
  </p>

  <p>
      Collection of articles I've written over the years, focusing on Programming, Security, Reverse Engineering, Python and Devops. There's even a few real life build projects.
  </p>

  <p>My comments are mine and not my employer etc.</p>
  
  <p>
    Reach out to me on <a class="special" href="mailto:cal@iops.io">cal@iops.io</a>
  </p>

</div>
