{% extends "layout.html" %}

{% block content %}

    <div class="posts">
        {% for article in articles %}
            <div class="post">
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                        <div class="post-image">
                            <a href="/blog/{{article.name}}">
                                <img src="/static/img/covers/{{ article.coverimage }}" />
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-9 col-md-9 post-title">
                        <h2>
                            <a href="/blog/{{article.name}}">{{ article.title }}</a>
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="post-content">
                            {{ article.content_excerpt }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}