<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- jquery -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

        <!-- google fonts -->
        <link rel='stylesheet' id='gwf-heading-css' type='text/css' media='all'
            href='http://fonts.googleapis.com/css?family=Oswald|Roboto:300,400|Roboto Condensed:300,400|Lato:300,400'  />

        <!-- site -->
        <link rel="stylesheet" href="/css/site.css">
        <link rel="stylesheet" href="/css/fonts.css">


    </head>
    <body>

        <div class="ct-site-header">
          <a href="/" class="site-title">Cal Leeming Blog</a>
        </div>

        <div class="ct-site-content">
          {{ content }}
        </div>

        <div class="ct-site-footer">

        </div>
    </body>
</html>
