---
layout: layout
---


<div class="ct-content-left ct-post">

  {% if page.type == 'full' %}
    <div class="ct-post-header ct-post-header-{{ page.type }}">
      <div class="img-holder">
        <img src="{{ page.coverimage }}" />
      </div>
      <h2 class="page-title">
        {{ page.title }}
      </h2>

    </div>
  {% elsif page.type == 'large' %}
    <div class="ct-post-header ct-post-header-{{ page.type }}">
      <div class="img-holder">
        <img src="{{ page.coverimage }}" />
      </div>

      <h2 class="page-title">
        {{ page.title | xml_escape }}
      </h2>
    </div>
  {% else %}
    <div class="ct-post-header ct-post-header-small">
      <div class="img-holder">
        <img src="{{ page.coverimage }}" />
      </div>
      <h2 class="page-title">
        {{ page.title }}
      </h2>
    </div>
  {% endif %}

  <div class="ct-post-content">

    <span class="date">
      {{ page.date | date_to_string }} by Cal Leeming
    </span>

    <div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="sleepycal">Tweet</a>
    </div>

    <div>
      {{ content }}
    </div>
  </div>

  <div class="ct-post-comments">
    <div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'iopsio'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
    </div>


  </div>
</div>

<div class="ct-content-right">
  {% include right.html %}
</div>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
